/* Mã nguồn được phái sinh từ bản gốc của [[mh:User:PetraMagna]] theo giấy phép CC BY-SA:
https://cdn.jsdelivr.net/gh/lihaohong6/MirahezeDevScripts@960aca22321f62f217cc81c7b27caa6f13fbc520/dist/BackgroundImage/gadget-impl.js */
/* stylelint-disable */
html {
  --gadget-bg-color: 6, 16, 22;
  --gadget-bg-opacity: 0.5;
  --gadget-bg-opacity-low: 0.4;
}
html.skin-theme-clientpref-night:not(.client-darkmode) {
  --gadget-bg-color: 0, 0, 0;
}
@media (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os:not(.client-darkmode) {
    --gadget-bg-color: 0, 0, 0;
  }
}
body.has-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: bgFadeIn 1s ease-in-out forwards;
}
@keyframes bgFadeIn {
  to {
    opacity: 1;
  }
}
body.skin-vector-2022.has-bg {
  /* Otherwise, the tools/TOC popup will not appear in front of the body content */
  /* Happens due to backdrop-filter creating a new stacking context */
}
body.skin-vector-2022.has-bg div.mw-page-container {
  background-color: unset;
}
body.skin-vector-2022.has-bg div.vector-header-container .mw-header,
body.skin-vector-2022.has-bg .mw-body-header,
body.skin-vector-2022.has-bg .vector-page-toolbar,
body.skin-vector-2022.has-bg .vector-pinnable-header-label,
body.skin-vector-2022.has-bg #bodyContent,
body.skin-vector-2022.has-bg #vector-page-tools-pinned-container,
body.skin-vector-2022.has-bg #vector-main-menu-pinned-container,
body.skin-vector-2022.has-bg #vector-toc-pinned-container,
body.skin-vector-2022.has-bg #vector-page-titlebar .mw-heading1 h1 .mw-heading2 h2 .mw-heading3 h3 .mw-heading4 h4 .mw-heading5 h5 .mw-heading6 h6,
body.skin-vector-2022.has-bg #vector-appearance-pinned-container {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
}
body.skin-vector-2022.has-bg .vector-page-toolbar {
  position: relative;
  z-index: 5;
}
body.skin-vector-2022.has-bg .mw-body-header {
  position: relative;
  z-index: 6;
}
body.skin-vector-2022.has-bg .vector-sticky-pinned-container::after {
  background: unset;
}
body.skin-vector-2022.has-bg #vector-page-tools-dropdown .vector-dropdown-content,
body.skin-vector-2022.has-bg #vector-user-links-dropdown .vector-dropdown-content {
  background-color: rgba(var(--gadget-bg-color), 0.95);
}
body.skin-vector-2022 #bodyContent {
  padding-bottom: 10px;
}
body.skin-vector-2022 .mw-body-header {
  padding-top: 0.5%;
}
body.skin-vector-2022 .mw-body-header,
body.skin-vector-2022 .vector-page-toolbar,
body.skin-vector-2022 #bodyContent {
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-left: -1.5%;
  margin-right: -1.5%;
}
body.skin-vector-2022 .vector-pinned-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
body.skin-vector-2022 .mw-footer li {
	background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity), 5);
}
body.skin-vector-legacy.has-bg #mw-page-base {
  background: unset;
}
body.skin-vector-legacy.has-bg #p-personal {
  padding: 2px 5px 0 0;
  box-shadow: #666 0 1px 5px;
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
}
body.skin-vector-legacy.has-bg #p-personal .vector-menu-content-list {
  padding-left: 0;
}
body.skin-vector-legacy.has-bg #mw-panel nav {
  background: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
  box-shadow: #666 0 1px 5px;
}
body.skin-vector-legacy.has-bg .vector-menu-tabs-legacy li,
body.skin-vector-legacy.has-bg #p-cactions {
  background: linear-gradient(to top, rgba(var(--gadget-bg-color), 0.5) 50%, rgba(var(--gadget-bg-color), 0) 100%);
}
body.skin-vector-legacy.has-bg .vector-menu-tabs-legacy .selected {
  background: linear-gradient(to top, rgba(var(--gadget-bg-color), 50) 30%, rgba(var(--gadget-bg-color), 0) 90%);
}
body.skin-vector-legacy.has-bg #content {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
}
body.skin-vector-legacy.has-bg #toc {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity-low));
}
body.skin-vector-legacy.has-bg #p-cactions .vector-menu-content {
  background-color: rgba(var(--gadget-bg-color), 0.8);
}
body.has-bg .wikitable {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity-low));
}
body.has-bg .catlinks {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
}
body.skin-vector-legacy .mw-footer li {
	background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity), 5);
}
body.skin-timeless.has-bg #mw-header-container {
  background: rgba(var(--gadget-bg-color), 0.5);
}
body.skin-timeless.has-bg #mw-content-container {
  background: unset;
}
body.skin-timeless.has-bg #mw-footer-container {
  background: rgba(0, 0, 0, 0.5);
}
body.skin-timeless.has-bg #mw-site-navigation .sidebar-chunk,
body.skin-timeless.has-bg #mw-related-navigation .sidebar-chunk {
  background: rgba(var(--gadget-bg-color), 0.8);
}
body.skin-timeless.has-bg #mw-content {
  background-color: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
  border: none;
}
body.skin-timeless.has-bg #mw-content-block {
  background: unset;
}
body.skin-citizen.has-bg {
  --gadget-bg-padding-half: calc(var(--padding-page) / 2);
}
body.skin-citizen.has-bg #citizen-page-header,
body.skin-citizen.has-bg .citizen-body-container,
body.skin-citizen.has-bg .citizen-footer {
  background: rgba(var(--gadget-bg-color), var(--gadget-bg-opacity));
  backdrop-filter: blur(2px);
}
body.skin-citizen.has-bg .citizen-body-container {
  margin-bottom: unset;
  padding-bottom: var(--space-xl);
}
body.skin-citizen.has-bg #citizen-page-header,
body.skin-citizen.has-bg .citizen-body-container {
  padding-left: var(--gadget-bg-padding-half);
  padding-right: var(--gadget-bg-padding-half);
  margin-left: var(--gadget-bg-padding-half);
  margin-right: var(--gadget-bg-padding-half);
}
