/* Overwrites selector from MediaWiki:Common.css */
div#editpage-specialchars {
	display: block;
	border: 1px solid #4DB6B0;
	padding: .5em 1em;
}

#editpage-specialchars a {
	background-color: #061016;
	border: 1px solid #4DB6B0;
	padding: 1px 4px;
}

textarea#wpTextbox1 + #editpage-specialchars,
.wikiEditor-ui-clear + #editpage-specialchars {
	border-top: none;
}
