/*
	Author: [[w:User:Matrix]]
	License: Quadruple licensed GFDL, GPL, LGPL and Creative Commons Attribution 3.0 (CC-BY-3.0), same as original
*/

@media screen {
	:root, .skin-invert, .notheme {
		--image-annotator-background: #061016;
	}
	
	html.skin-theme-clientpref-night {
		--image-annotator-background: #061016;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os {
		--image-annotator-background: #061016;
	}
}
